syntax: glob
*.user
*.ipch
*.log
*.opensdf
*.sdf
*.suo
*.unsuccessfulbuild
*.exe
*.tlog
*.obj
*.rc
*.lastbuildstate
*.res
*.manifest
*.pdb
*.idb
*.ilk
*.lib
*.dll
*.xcf
*.exp
*.orig
*.cache
*.orig
*.pch
*.ppk
*.pub
*.patch
*.rej
*.bin
*.db
*.dll
*.pak
contrib/Eigen/
desktop.ini

